body {
  width: 100%;
  margin: auto;
}

#stage {
  width: 600px;
  height: 600px;
  margin: 25% auto;
  border: 1px dashed #cecdcd;
}

@keyframes slideleft {
  0% {
    left: 10px;
    top: 10px;
  }
  25% {
    left: 515px;
    top: 10px;
  }
  50% {
    left: 515px;
    top: 215px;
    transform: rotate(0deg);
  }
  52.5% {
    left: 257px;
    top: 215px;
    transform: rotate(45deg);
  }
  62.5% {
    left: 257px;
    top: 215px;
    transform: rotate(45deg);
    border-color: red;
  }
  75% {
    left: 10px;
    top: 215px;
    transform: rotate(90deg);
    border: 1px dashed #0900bd;
    width: 75px;
    height: 75px;
    border-radius: 0%;
    background-image: none;
  }
  100% {
    left: 440px;
    top: 440px;
    transform: rotate(90);
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: radial-gradient(#fbda61, #f76b1c);
  }
}

#hero {
  width: 75px;
  height: 75px;
  border: 1px dashed red;
  position: relative;
  top: 10px;
  left: 10px;
  animation: slideleft 20s infinite;
}
