body {
  width: 100%;
  margin: auto;
}

#stage {
  width: 600px;
  height: 600px;
  margin: 25% auto;
  border: 1px dashed #cecdcd;
}

@keyframes slideleft {
  0%  { left: 10px; top: 10px;}
  33% { left: 515px; top: 10px;}
  66% { left: 515px; top: 215px; transform: rotate(0deg);}
  67%{ left: 257px; top: 215px; transform: rotate(45deg);}
  83%{ left: 257px; top: 215px; transform: rotate(45deg); border-color: red;}
  100%{left: 10px; top: 215px; transform: rotate(90deg); border-color: blue;}
}

#hero {
  width: 75px;
  height: 75px;
  border: 1px dashed red;
  position: relative;
  top: 10px;
  left: 10px;
  animation: slideleft 15s infinite;
}
